.profileform {

  @include display();
  justify-content: center;
  // height: 87.5vh;
  &__form {
    @include display();
    position: relative;
    top: 60px;
    width: 50%;
    // height: 70%;
    justify-content: start;
    gap: 13px;
    flex-direction: column;
    align-items: start;
    padding: 25px 100px 65px 5px;
    border-radius: 5px;
    background-color: $colorGray;
    border: 1px solid $colorUser;

    animation-name: showForm;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
  }

  &__boxes {
    @include display();
    position: relative;
    flex-direction: column;
    align-items: start;
    gap: 2px;
  }


  &__text {
    position: relative;
    top: 24px;
    left: 5px;
    font-family: "Open Sans";
    font-size: 12px;
    color: $colorUserBlack;
  }

  &__input {
    width: 100%;
    height: 30px;
    padding: 3px 5px;
    outline: none;
    border: none;
    border-radius: 3px;
    font-family: "Open Sans";
    font-size: 14px;
  }


  &__button {
    @include button(rgb(28, 168, 28), white, 20px, 10px);
    @include hoverOn();
    border-radius: 3px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  &__textarea {
    max-width: 500px !important;
    min-width: 150px;
    min-height: 50px;
    max-height: 200px;
  }

  &__textarea-box {
    width: 90%;
  }

}


@media (max-width: 650px) {
  .profileform {
    justify-content: start;
    padding: 15px 10px;

    &__form {
      width: 100%;
    }

    &__textarea {
      width: 90%;
      max-width: 130px !important;
      max-width: none;
      min-width: 50px;
    }
  }
}