.task {
  @include display();
  padding: 20px 0px;
  align-items: start;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  display: none;
  &__left {
    @include display();
    position: relative;
    top: 70%;
    flex-direction: column;
    background-color: var(--colorGray);
    align-items: start;
    padding: 20px 15px;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid var(--colorUser);
    // display: none;
    visibility: hidden;
  }

  &__boxes {
    @include display();
    justify-content: start;
    width: 100%;
    gap: 10px;
  }

  &__icons {
    width: 30px;
    height: 30px;
    color: var(--colorGreen);
  }

  &__icons-second {
    color: var(--colorUserYellow);
  }

  &__sections {
    @include display();
    flex-direction: column;
    align-items: start;
  }

  &__button {
    @include button(var(--colorUser), white, 20px, 10px);
    @include hoverOn();
    width: 100%;
    border-radius: 4px;
    font-weight: 500 !important;
    font-size: 16px !important;
  }

  &__inputs {
    width: 100%;
    outline: none;
    padding: 8px 3px;
    border: 1px solid var(--colorUser);
    font-family: "Open Sans";
    font-size: 12px;
    color: var(--colorDarkGray);
    border-radius: 4px;
  }

  &__inputs::placeholder {
    color: var(--colorDarkGray);
  }

  &__textarea {
    width: 100%;
    height: 100%;
    min-height: 50px;
    max-height: 120px;
    max-width: 100%;
    min-width: 250px;
    outline: none;
    padding: 8px 3px;
    border: 1px solid var(--colorUser);
    font-family: "Open Sans";
    font-size: 12px;
    color: var(--colorDarkGray);
    border-radius: 4px;
  }

  &__title {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 100;
    color: var(--colorBlack)
  }


  &__box-title {
    font-weight: 500;
    font-size: 16px;
  }

  &__text {
    font-family: "Open Sans";
    font-size: 14px;
    color: var(--colorOpacityBlack)
  }

  &__right {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 20px;
    // width: 100%;
    background-color: var(--colorGray);
    flex-grow: 2;
    max-width: calc(3000px - 430px);
    padding: 20px 0px;
    border-radius: 5px;
    border: 1px solid var(--colorUser);
    visibility: hidden;
  }

  &__right-top {
    @include display();
    width: 100%;
    padding: 0px 30px 14px 35px;
    border-bottom: 1px solid var(--colorOpacityBlack);
  }

  &__right-icons {
    width: 50px;
    height: 50px;
    color: var(--colorUser);
  }

  &__right-top-box {
    @include display();
    gap: 10px;
  }

  &__right-title {
    font-family: "Open Sans";

  }

  &__right-text {
    font-family: "Open Sans";
    font-size: 14px;
    background-color: var(--colorUser);
    padding: 4px 5px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    opacity: 0.8;
  }

  &__right-inputform {
    @include display();
    gap: 20px;
    padding: 0px 35px;
  }

  &__right-input {
    font-family: "Open Sans";
    padding: 8px 4px;
    width: 100%;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: 0px 0px 20px -10px var(--colorOpacityBlack);
  }

  &__right-input-label {
    @include hoverOn();
    // background-color: red;                                                                                                                           
    padding: 10px 12px;
    border-radius: 4px;
    font-family: "Open Sans";
    color: var(--white);
    background-color: var(--colorUser);
  }

  &__right-main {
    @include display();
    width: 100%;
    flex-direction: column;
    align-items: start;
    padding: 0px 30px;  
  }

  &__right-main-top {
    @include display();
    position: relative;
    width: 100%;
    justify-content: start;
    gap: 10px;
    border-bottom: 1px solid var(--colorOpacityBlack);
    padding: 10px 55px 10px 5px;
  }

  &__right-main-top-box {
    @include display();
    position: relative;
    width: 140px;
    justify-content: center;
    gap: 2px;
    // background-color: red;
  }

  &__right-checkbox {
    width: 20px;
    height: 20px;
    display: none;
  }

  &__right-checkbox-second {
    width: 20px;
    height: 20px;
  
  }

  &__items-contain {
    width: 100% !important; 
  }

  &__right-top-title {
    width: 140px;
    flex-grow: 1;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
  }


  &__items-box {
    @include display();
    justify-content: start;
    width: 140px;
    gap: 5px;
    overflow-y: auto
    // margin-right: -38px;
  }

  &__items-box::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }

  &__items-first {
    display: none !important;
  }


  &__items {
    @include display();
    justify-content: start;
    align-items: start;
    width: 100%;
    padding: 20px 55px 20px 5px;
    gap: 10px;
    background-color: rgb(222, 219, 219);
    border-top: 1px solid var(--colorOpacityBlack);
  }


  &__items-text {
    // @include display();    
    width: 140px ;
    flex-grow: 1;
    font-family: "Open Sans";
    overflow-y: auto

  }

    &__items-text::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }

  &__right-checkbox-item {
    width: 20px;
    height: 20px;
  }

  &__right-top-box {
    @include display();
  }

  &__remove {
    @include hoverOn();
    width: 20px;
    height: 20px;
  }

  
}


@media (max-width: 800px) {
  .task { 
    &__left {
      width: 100%;
      max-width: none;
    }

    &__textarea {
      min-width: 100px;
    }

    &__right-main-top {
      display: none;
    }

    &__items {
      flex-wrap: wrap;
    }

    &__right-top {
      // flex-wrap: wrap;
      gap: 3px;
    }

    &__right-top-box {
      width: 100%;
      justify-content: start;
      flex-wrap: wrap;
      gap: 3px;
    }

    &__right-title {
      width: 80%;
    }

    &__right-inputform {
      flex-wrap: wrap;
    }

    &__right-input-label {
      @include display();
      width: 100%;
      justify-content: center;
    }
  }
}
